<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="sample.two" android:versionName="1.2" android:versionCode="3">
    <application android:icon="@drawable/icon" android:label="@string/app_name">

        <activity android:name=".startUp"
                  android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

		<activity android:name=".blubb"
				  android:label="@string/app_name">
		</activity>

		<activity android:name=".smsmessage"
				  android:label="@string/app_name">
	    </activity>

    </application>



<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" android:maxSdkVersion="8"></uses-sdk>

<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>

<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
</manifest>