<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="sample.two" android:versionName="1.5" android:versionCode="7">
	<application android:icon="@drawable/icon" android:label="@string/app_name">

		<uses-library android:name="com.google.android.maps" />

		<activity android:name=".startUp" android:label="@string/app_name">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

		</activity>

		<activity android:name=".blubb" android:label="@string/app_name">
		</activity>

		<activity android:name=".smsmessage" android:label="@string/app_name">
		</activity>


		<activity android:name=".sensortest" android:label="@string/app_name">
		</activity>
		<activity android:label="@string/app_name" android:name=".gpsstats">
		</activity>


		<activity android:name=".googlem" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
	</application>

	<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="8"
		android:maxSdkVersion="8"></uses-sdk>
</manifest>